@tailwind base;
@tailwind components;


.spinner {
    width: 100px;
    height: 100px;
    position: relative;
    top:auto;
    left:auto;
    right:auto;
    bottom:auto;
    
    
    display: flex;
    margin: auto;
  }
  
  .spinner div {
    box-sizing: border-box;
    position: absolute;
  
    width: 100%;
    height: 100%;
    border: 8px solid transparent;
    border-top-color: var(--primary-color);
    border-radius: 50%;
    animation: spinnerOne 0.5s linear infinite;
  }
  
  .spinner div:nth-child(2) {
    border: 8px solid transparent;
    border-bottom-color: var(--primary-color);
    animation: spinnerTwo 0.5s linear infinite;
  }
  
  @keyframes spinnerOne {
    0% { transform: rotate(0deg); border-width: 10px; }
    50% { transform: rotate(180deg); border-width: 1px; }
    100% { transform: rotate(360deg); border-width: 10px; }
  }
  @keyframes spinnerTwo {
    0% { transform: rotate(0deg); border-width: 1px; }
    50% { transform: rotate(180deg); border-width: 10px; }
    100% { transform: rotate(360deg); border-width: 1px; }
  }
  .material-icons-outlined-active {
  color:#3244a8;
  }
.success-alert {
 background-color: rgb(198, 246, 213);

}
.alert {
  flex:column;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  width: 100%;
  margin: 0.5rem 0;
}
.bgcolor {
  background-color: #072448;
}
.custom-edit-button {
  
}
.dialog-container {
  display: flex;
}

.dialog-content-container {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 2, 0.9, 0.8);
  top: 0;
  left: 0;
  z-index: 60;
}

.dialog-content {
  position: relative;
  text-align: left;
  
  border: none;
  border-radius:15px;
  margin: auto;
  width: 25%;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #fff;
  animation: animatedialog 0.8s;
}

  
@keyframes animatedialog {
  from {
    opacity: 0;
    bottom: -50%;
  }

  to {
    opacity: 1;
    bottom: 0;
  }
}

.dialog-title,
.dialog-body,
.dialog-footer {
  margin-top: 1rem;
}


 
@tailwind utilities;